.place__container {
  min-width: 484px;
}

@media screen and (max-width: 1024px) {
  .place__container {
  min-width: 456px;
}
}

@media screen and (max-width: 930px) {
  .place__container {
    min-width: 100%;
}
}

@media screen and (max-width: 768px) {
  .place__container {
   min-width: 352px;
}
}

@media screen and (max-width: 720px) {
  .place__container {
    min-width: 100%;
}
}

@media screen and (max-width: 350px) {
  .place__container {
    min-width: 288px;
  padding-left: 16px;
}
}