.intro__list {
  font-weight: 700;
  list-style-type: none;
  padding: 0;
  margin: 0px 0px 92px 0px;
}

@media screen and (max-width: 768px) {
  .intro__list {
    margin: 0px 0px 88px 0px;
  }
}

@media screen and (max-width: 320px) {
  .intro__list {
    margin: 0px 0px 64px 0px;
  }
}