.lead__subtitle {
  max-width: 640px;
  text-align: center;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
  padding: 0;
  margin: 32px auto 0px auto;
}

@media screen and (max-width: 680px) {
  .lead__subtitle {
    max-width: 440px;
    font-size: 20px;
    line-height: 28px;
  }
}

@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    max-width: 288px;
    line-height: 20px;
    margin-top: 16px;
  }
}