.cover {
  position: relative;
  display: flex;
  justify-content: center;
  max-width: 1184px;
  margin: 0px auto 92px auto;
}

@media screen and (max-width: 768px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 320px) {
  .cover {
    margin-bottom: 64px;
  }
}